<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- VUE 문법을 사용하려면 이게 필수 -->
         <!-- $가 붙으면 JQUERY -->
    <style>
        table, tr, td, th{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px 10px;
            text-align: center;
        }
        th{
            background-color: beige;
        }
        tr:nth-child(even){
            background-color: azure;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- html 코드는 id가 app인 태그 안에서 작업해야 함(필수) -->

        <div>
            <!-- 장르 - 체크박스 -->
            번역상태 - 라디오 or 셀렉트
            <!-- 국가 - 셀렉트 -->
            타입 - 라디오 or 셀렉트
            <!-- 카테고리 - 체크박스 -->
        </div>

        <div v-if="listGenre.length > 0" v-for="item in listGenre">
            {{ item.GENRE_NAME }}, {{item.GENRE_NUM}}
            <input type="checkbox" v-model="genreList" :value="item.GENRE_NAME" :id="item.GENRE_NUM">
        </div>

        <hr>

        <div v-if="listCategory.length > 0" v-for="item in listCategory">
            {{ item.CATEGORY_NAME }}, {{item.CATEGORY_NUM}}
            <input type="checkbox" v-model="categoryList" :value="item.CATEGORY_NAME" :id="item.CATEGORY_NUM">
        </div>

        <hr>

        <div>
            <select name="" v-model="countryPick" @change="fnCountry(countryPick)">
                <option :value="item.COUNTRY_NAME"  v-if="listCountry.length > 0" v-for="item in listCountry">{{item.COUNTRY_NAME}}</option>
            </select>
        </div>

        <div>
            <button @click="fnCheck">btn</button>
        </div>
        <!-- <div>
            <div v-if="list.length > 0" v-for="item in list">
                {{ item.GENRE_NAME }}
            </div>
        </div> -->
        
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                    // 변수 선언 부분
                listGenre : [], //클라이언트에서 만든 리스트
                genreList : [], //서버에서 오는 리스트

                listCategory : [], //클라이언트에서 만든 리스트
                categoryList : [], //서버에서 오는 리스트

                listCountry : [], //클라이언트에서 만든 리스트
                countryList : [], //서버에서 오는 리스트
                countryPick : "국내"
            };
        },
        
        methods: {
            // 함수(메소드) - (key : function())
                // 함수는 여기서만
            fnList: function () {
                let self = this;
                let param = {};
                $.ajax({
                    url: "http://localhost:3009/",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {

                    }
                });
            },

            fnGenreList: function () {
                let self = this;
                let param = {};
                $.ajax({
                    url: "http://localhost:3009/genre/list",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        // console.log(data.list);
                        self.listGenre = data.genreList;
                        console.log(self.listGenre);
                        console.log(self.listGenre.length);
                        console.log(self.listGenre[0]);
                        console.log(self.listGenre[0].GENRE_NAME);
                    }
                });
            },

            fnCategoryList: function () {
                let self = this;
                let param = {};
                $.ajax({
                    url: "http://localhost:3009/category/list",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        // console.log(data.list);
                        self.listCategory = data.categoryList;
                        console.log(self.listCategory);
                        console.log(self.listCategory.length);
                        console.log(self.listCategory[0]);
                        console.log(self.listCategory[0].CATEGORY_NAME);
                    }
                });
            },

            fnCountryList: function () {
                let self = this;
                let param = {};
                $.ajax({
                    url: "http://localhost:3009/country/list",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        // console.log(data.list);
                        self.listCountry = data.countryList;
                        console.log(self.listCountry);
                        console.log(self.listCountry.length);
                        console.log(self.listCountry[0]);
                        console.log(self.listCountry[0].COUNTRY_NAME);
                    }
                });
            },

            fnCountry:function (country){
                console.log(country);
            },

            fnCheck : function() {
                let self = this;
                console.log(self.genreList);
                console.log(self.categoryList);
                console.log(self.countryPick);
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnGenreList();
            self.fnCategoryList();
            self.fnCountryList();
        }
    });

    app.mount('#app');
</script>